<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>bee run</title>
</head>
<body>
<form method="post" action="/login">
    <table>
        <tr>
            <td><label for="loginField">Username</label></td>
            <td><input id="loginField" type="text" name="username"></td>
        </tr>
        <tr>
            <td><label for="passwordField">Password</label></td>
            <td><input id="passwordField" type="password" name="password"></td>
        </tr>
        <tr>
            <td><input type="submit" value="Login"></td>
        </tr>
    </table>
</form>
</body>
</html>